* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 2rem;
    background-color: rgb(190, 252, 190);
}

section {
    
}

.subtitulo {
    color: green;
    font-size: 1.8rem;
}

h1 {
    margin: 3rem;
    text-align: center;
    color: rgb(14, 206, 14);
    line-height: 70%;
}

p {
    text-align: center;
    font-size: 2rem;
}

figure {
    display: flex;
    justify-content: space-evenly;
}

figcaption {
    color: green;
}
.main-nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;  
}

.main-nav__item {
    display: inline-block;
    
}

.main-nav__item a {
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    background-color: whitesmoke;
   
}

.main-nav__item a:hover {
    color: hotpink;
    
}

.parrafo a:hover {
    color: hotpink;
}

.main-nav__item a::after {
    content: " | ";
}
