* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 2rem;
    background-color: rgb(190, 252, 190);
}



h4 {
    color: green;

}

h1 {
    margin: 3rem;
    text-align: center;
    color: rgb(14, 206, 14);
    line-height: 70%;
}

h2 {

    color: green;
}

p {
    text-align: center;
}

figcaption {
    color: green;
    font-size: 80%;
}
.main-nav {
    padding: 1rem;
    
}

.main-nav__item {
    display: inline-block;
    
}

.main-nav__item a {
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    background-color: whitesmoke;
   
}

.main-nav__item a:hover {
    color: hotpink;
    
}

.parrafo a:hover {
    color: hotpink;
}

.main-nav__item a::after {
    content: " | ";
}

main {
    width: 100%;
}