* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    position: relative;
    top: 1rem;
    background-color: red;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

figure {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: green;
}

p {
    position: relative;
    bottom: 0.5rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: skyblue;
}