* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: 0.3rem solid black;
    display: flex;
    /*flex-wrap: wrap; sirve para que las cajas
    se acomoden cuando la pantalla se hace mas
    pequeña.*/
    /*justify-content: center; centra de forma horizontal
                       space evently; da espacios iguales entre las cajas*/ 
}

 .box {
     width: 10rem;
     height: 10rem;
     border: solid red;
 }

 .box1 {
     background-color: blue;
 }

 .box2 {
     background-color: blueviolet;
 }

 .box3 {
     background-color: burlywood;
 }
  .box4 {
      background-color: chartreuse;
  }
  .box5 {
      background-color: crimson;
  }
  .box6 {
      background-color: darkgoldenrod;
  }